.about {
    display:flex;
    flex-direction: column;
    
   
  
    
}
.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    height: 50%;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: column;
   
    
    
    
  }
  
  .col {
    display: flex;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
    align-content: center;
    justify-content: center;
    flex-direction: row;
   
    
  }

  .about-top-desc-wrapper{
      max-width: 1000px;
      padding-top: 0;
      padding-bottom: 60px;
      font: 1em sans-serif;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      
      
      
     
  }

  .about-top-desc-container {
    
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: -120px;
    margin-top: 100px;
  }

  .about-title {
    font: 1em sans-serif;
    width:100%;

  }

  .about-desc {
    font: 2rem sans-serif;
    line-height: 1.25cm;
    width:100%;
    
  }

  .about-bottom-info-wrapper {
    max-width: 1000px;
    padding-top: 0;
    padding-bottom: 60px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-left: 100px;
    
  }


  .about-top-pic-container {
    width:50%;
  }
  
  .top-pic{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    margin-left: 380px;
    margin-top: 150px;
    
    
  }
  .bottom-contact-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  
  .bottom-contact-icons {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    margin-top: 100px;
    width:50%;
  }

  .bottom-contact-button {
    margin-top: 30px;
    background-color:rgb(0,123,255); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transform: scale(0.95);
    border: 2px solid rgb(0,123,255);
    outline: none;
    
  }

  .bottom-contact-button:hover {
    transform: scale(1.05);
  }
  
  .bottom-contact-icon {
    margin-top: 30px;
    cursor: pointer;
  }

  .bottom-contact-icon:hover {
    color:gray;
    transform: scale(1.1);
  }
  
  .skill-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 70vw;
   margin-top: 100px;
   margin-left:200px;

    
  }

  .skill-header {
    padding-bottom: 20px;
    font: 1em sans-serif;
  }


  .skill-list{
    display:grid;
    list-style: none;
    grid-template-columns: 200px 200px 200px 200px;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
 
  }



  .skill-text{
    font-size: 1em;
  }

  .skill-item-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    
  }



  .skill-icon {
    height: 50px;
    width: 50px;
  }

  .skill-name {
    font-size: 2rem;
    font: sans-serif;
  }
  

  @media screen and (max-width: 1100px) {
    
    
    .about-top-pic-container {
        width: 100%;
        display:flex;
        justify-content: center;
    }

    .top-pic{
      width:200px;
      height:200px;
      border-radius:50%;
      margin-right:400px;
      margin-top:400px;
      
    }
    
    .about-desc {
      font: 1.0rem sans-serif;
      width: 125%;
      line-height: 1cm;
      
    }
  
    .skill-icon {
      height: 40px;
      width: 40px;
    }
  
    .skill-name {
      font-size: 1.25rem;
      font: sans-serif;
      display:none;
    }
    
    .skill-list{
     
      grid-template-columns: 100px 100px 100px 100px ;
      grid-row-gap: 20px;
      grid-column-gap: 30px;
     
   
    }
    
    .about-top-desc-wrapper {
      flex-direction: column-reverse;
      
    }
    
    .about-top-desc-container {
      margin-top:25px;
    }
    
    .bottom-contact-container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top:-200px;
    }
    
    .bottom-contact-icons{
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 125px;
    }
    
    .skill-container {
      margin-top: 50px;
      margin-left:-200px;
    }
    
    
    .row{
      margin-top: -300px;
    }
  
    .bottom-contact-icon{
      width:100px;
    }
  
  
  }